{% extends 'navbar.html' %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-12">
        <h2 class="mt-5">About us</h2>
            <p class="mt-5">Welcome . we aree a professional wewbsite design firm
                deicated to professional service , quality web design,and
                trustworthy results. With careful audience targeting we
                create highly functional user interface with the perfect
                mixture of simplicity
                , elegence and innovation for each of our clients</p>
        </div>
</div>

    <div class="col-md-8">
        <h3> Who are we </h3>
        <p>We are small ,super creative  web design company with over five years of experince in the
            we strive you to bring cost effective , efficent and high quality professional services

        </p>
        <p>
            Our goal is simple -to ensure beautiful, usable intefaces through the handcraf semantic
            code that prouduces a satisfying experince for every vistor to your website
        </p>


    </div>
    </div>
{% endblock %}